{% extends 'base.html' %}

{% block content %}


<div class="jumbotron">
  <h1 class="display-4">Welcome To Crypto News Network!</h1>
  <p class="lead">Your Source For Up To The Minute Crypto Currency and Blockchain News!</p>
</div>

</br>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24h High</th>
      <th scope="col">24h Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody>
	{% for key, value in price.DISPLAY.items %}
    <tr>
      <th>{{ key }}</th>
      <td>{{ value.USD.PRICE}}</td>
      <td>{{ value.USD.HIGHDAY}}</td>
      <td>{{ value.USD.LOWDAY}}</td>
      <td>{{ value.USD.MKTCAP}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="container">
	<div class="row">
		{% for value in api.Data %}
			<div class="col-sm">
				<div class="card" style="width: 18rem;">
				  <img src="{{ value.imageurl }}" class="card-img-top" alt="{{ value.source }}">
				  <div class="card-body">
				    <h5 class="card-title">{{ value.title }}</h5>
				    <p class="card-text">{{ value.body }}</p>
				    <a href="{{ value.url }}" target="_blank" class="btn btn-secondary">Read More...</a>
	  			</div>
				</div>
			</br>
			</div>
		{% endfor %}
	</div>
</div>
 
{% endblock %}